@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello there!</h1>

<p>
    Welcome to my technical assessment.
</p>

<br />

<p>
    Please read my README in github if you haven't done so already :)
</p>
